body {
  background:lightblue;
  font-family: 'Pompiere', serif;
  font-size: 22px;
  text-shadow: 4px 4px 4px #aaa;
  overflow-x: hidden;
}


div {
    border-style: none;
}

section {
   width: 80%;
   margin: 0 auto;
}

.awesome-button{
background: #ffb515;
display: inline-block;
padding: 5px 10px 6px;
color: #fff;
text-decoration: none;
font-weight: bold;
line-height: 1;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-moz-box-shadow: 0 1px 3px #999;
-webkit-box-shadow: 0 1px 3px #999;
text-shadow: 0 -1px 1px #222;
border-bottom: 1px solid #222;
position: relative;
cursor: pointer;
font-size: 14px;
padding: 8px 14px 9px;
font-family: 'Pompiere', serif;
font-size: 22px;
}

html { overflow-x: hidden; }

h3 {
  background: yellow;
  color: darkblue;
  padding: 15px 0;
  position: relative;
}
h3:before, h3:after {
  content: "";
  background: yellow;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 9999px;
}
h3:before {
  right: 100%;
}
h3:after {
  left: 100%;
}

 .left-only:after {
      display: none;
    }

.right-only:before {
  width: 20px;
}
